.list {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  margin-left: 20px;
  width: 100px;
  border: solid 1px black;
  background-color: rgb(173, 173, 177);
  padding: 10px 10px;
}

.list-children {
  margin-left: 90px;
  font-size: 20px;
  position: absolute;
}
